/* general page settings */
body {
  color: black;
  margin-bottom: 10px;
  padding-top: 50px;
}



label {
  font-weight: normal;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

/* page main content styling */
#content { padding: 0px 20px 20px 20px;}

/* setting bold weight active link in header */
.active {font-weight: bold;}

/* setting div paddings for content of some pages */
#limitations-reg {
  padding: 5px 5px 5px 10px;
}
#limitations {
  padding-left: 12px;
}
div#limitations {margin: 0px;}
#registration-details {padding: 5px 12px 0px 12px;}
#recipe-details {padding: 5px 12px 0px 12px;}
#recipe-content {
  padding: 0px 12px 0px 12px;
}
#ingredients {margin-top: 15px;}
#limitations > p {margin-bottom:0px;}

/* navbar customization */
.navbar-brand > img {height: 45px; padding-top: 3px;}
a.navbar-brand {padding-top: 0px;}
#filter {margin: 0px 15px;}
.navbar-right {margin-right: 0px;}

/* dropdown-menu styling */
.dropdown-menu > li > label {
  margin: 0px 10px 0px 10px;
  font-size: small;
}
.dropdown-menu > li:hover {
  background-color: #e89d00;  
}

/* star styling */
.star {
  color: red; font-weight: bold; font-style: italic
}

/* info message styling */
.info {font-style: italic;}
.error {color: red; }

/* reset page link styling */
#reset-page {margin: 15px;}

/* recipe thumbnail styling */
.thumbnail {
  width: 300px;
  height:280px;
  float: left;
  margin: 10px 10px 0px 0px;
}

/* highlight hovered recipe */
.thumbnail:hover {
  /*transform: scale(1.01);
  /*border-color: gray;*/
  box-shadow: 0px 2px 25px -10px grey;
}

#limitation-button {
  margin: 10px 0px 0px 40px;
}

/* food picture styling */
#food_pic {
  margin-bottom: 25px;
  height: 140px;
  width: 200;
  max-width: 200px;
}
#r_name {margin-bottom: 10px;}

/* page navigation styling */
#bottom-navigation {margin-top: 10px;}
#active_page {background-color: #fab700;}

/* recipe detail page styling */
.label {
  margin: 2px; 
  display: inline-block;
}

/* rule to shift margin */
#registration-text {margin-bottom: 90px;}

/* shift recipe warning */
#warning {
  width: 100%;
  vertical-align: bottom !important;
  bottom: 0px !important;
}
#warning.navbar.navbar-bottom {
  bottom: 0px;
}

#paging {
  margin-left: 10px;
  margin-right: 10px;
}

/* add styling to clear button */
.searchclear {
    position:relative;
    right:5px;
    top:0;
    bottom:0;
    height:14px;
    margin-left:-18px;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}

#forgoten {
  padding-top: 0px;
}