/* general page settings */
body {
  color: black;
  margin-bottom: 10px;
  padding-top: 50px;
}

u {
  padding-top: 50px;
}

label {
  font-weight: normal;
}

a {
  color: black;
}

#content { padding: 0px 20px 20px 20px;}

/* setting bold weight active link in header */
.active {font-weight: bold;}

/* setting div paddings for registration page */
#limitations {padding: 5px 0px 0px 12px;}

/* panel padding */
#user-details {padding: 12px 12px 6px 12px;}
#registration-details {padding: 12px 12px 6px 12px;}

/* navbar customization */
.navbar-brand > img {height: 45px; padding-top: 3px;}
a.navbar-brand {padding-top: 0px;}
#filter {margin: 8px 15px 0px 8px;}

/* dropdown-menu styling */
.dropdown-menu > li > label {
  margin: 0px 10px 0px 10px;
  font-size: small;
}
.dropdown-menu > li:hover {
  background-color: #e89d00;  
}

/* star styling */
.star {
  color: red; font-weight: bold; font-style: italic
}

/* table header background */
#table-header {background: #ddd;}

/* listed users table */
#table-content {
  border: 2px solid #ddd;
  margin: 15px 0px 5px 0px;
  border-radius: 4px;
}

/* user table buttom margin */
#username {
  margin-bottom: 5px;
}

#category {
  margin-bottom: 5px;
}

#recipe {
  margin-bottom: 5px;
}

#creation-button {
  margin-top: -6px;
}

/* info message styling */
.info {font-style: italic;}